.btn-filter{
  font-size: 14px;
  background-color: #4A5899;
  border: 1px solid #4A5899;
  color: #fff;

  .arrow-down{
    margin-top: -10px;
    width: 7px;
    height: 7px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(-45deg); /*135px*/
  }
}

.wrapper-search{
  margin-bottom: 15px;
}
