<div class="row">
  <div class="input-group col-sm-12 col-md-6 wrapper-search">
    <input type="text" class="form-control" placeholder="Digite para pesquisar" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button
        id="toggle-filters"
        class="btn btn-filter btn-primary toggle-filters"
        (click)="toogleFilters()"
        type="button">{{ label }}

        <span class="arrow-down"></span>
      </button>
    </div>
  </div>
</div>
