<div class="container-fluid ">
  <nav class="navegation">
    <app-topo [title]="title"></app-topo>
    <app-busca-filtros></app-busca-filtros>
  </nav>
  <div *ngIf="columns">
    <app-board-column [columns]="columns" (nomeColuna)="nomeColuna($event)"></app-board-column>
  </div>
  <app-criar-coluna [columns]="columns" (atualizaColunas)="atualizaColumn($event)"></app-criar-coluna>
  <app-criar-task [columns]="columns" [nameCol]="nameCol" (atualizaColunas)="atualizaColumn($event)"></app-criar-task>
</div>
