.block-filters{ display: none; }

.list-people{
  li{
    margin-right: 15px;
    margin-bottom: 10px;

    .photo-url{
      width: 30px;
      margin-right: 5px;
    }

  }

  .item-plus{
    position: relative;

    .line{
      width: 15px;
      height: 2px;
      background-color: #fff;
      display: block;
    }

    .line-1{
      transform: rotate(90deg);
    }

    .line-2{
      position: relative;
      top: -2px;
    }

    .anim-sub{ animation: sub 500ms forwards; animation-iteration-count: 1; }
    .anim-pls{ animation: pls 500ms forwards; animation-iteration-count: 1; }

    @keyframes sub {
      from{ transform: rotate(270deg); } to{ transform: rotate(0deg); }
    }

    @keyframes pls {
      from{ transform: rotate(0deg); } to{ transform: rotate(270deg); }
    }

    button.btn-add{
      background-color: #4A5899;
      border: 1px solid #4A5899;
      color: #fff;
      padding: 15px;

      &:focus{
        box-shadow: none;
      }

      &:hover{
        background-color: #6279B8;
        border: 1px solid #6279B8;
      }
    }

    .steps{
      display: none;
    }
  }

  a{
    color: #4A5899;
    transition: 500ms all ease;
    font-size: 14px;

    &:hover{
      text-decoration: none;
      color: #6279B8
    }
  }
}
