<div class="block-filters">
  <div class="row">
    <ul class="list-inline list-people col-md-4 col-lg-7">
      <li class="list-inline-item" *ngFor="let person of people">
        <a class="text-xs-center" href="#">
          <img class="photo-url" [src]="userImg" alt="">
          <b>{{ person.name }}</b>
        </a>
      </li>
      <li class="list-inline-item item-plus">
        <div class="input-group mb-3 add-user">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary btn-add" type="button">
              <span>+</span>
            </button>
          </div>
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Adicionar</button>
          </div>
        </div>
      </li>
    </ul>

    <ul class="list-inline list-tags col-md-4 col-lg-3">
      <li class="list-inline-item" *ngFor="let tag of tags">
        <a href="#" class="badge badge-light">{{ tag }}</a>
      </li>
    </ul>
  </div>
</div>

