<div class="block-filters">
  <div class="row">
    <ul class="list-inline list-people col-md-4 col-lg-7">
      <li class="list-inline-item" *ngFor="let person of people">
        <a class="text-xs-center" href="javascript:;" (click)="toFilter($event, '.persona')">

          <img *ngIf="person?.photoURL; else imgDefault" class="photo-url" [src]="person.photoURL" [alt]="person.name">
          <ng-template #imgDefault>
            <img class="photo-url" [src]="userImg" [alt]="person.name">
          </ng-template>
          <b class="persona">{{ person.name }}</b>
        </a>
      </li>
      <li class="list-inline-item item-plus">
        <form #cadastro="ngForm" (ngSubmit)="cadastra(cadastro.value)" class="input-group mb-3 add-user">
          <div class="input-group-prepend">
            <button
              (click)="liberaCadastro()"
              class="btn btn-outline-secondary btn-add"
              type="button">
              <span class="line line-1"></span>
              <span class="line line-2"></span>
            </button>
          </div>
          <input  type="text"
                  class="form-control steps step1"
                  name="user"
                  placeholder="nome usuário"
                  aria-label="nome do usuário"
                  aria-describedby="cadastro de novo usuário"
                  ngModel>
          <div class="input-group-append steps stp1">
            <button (click)="avanca($event)" class="btn btn-outline-secondary" type="button">Avançar</button>
          </div>

          <input  type="text"
                  class="form-control steps step2"
                  name="urlImg"
                  placeholder="url da imagem"
                  aria-label="url da imagem"
                  aria-describedby="url da imagem"
                  ngModel>
          <div class="input-group-append steps stp2">
            <button class="btn btn-outline-secondary" type="submit">Cadastra</button>
          </div>
        </form>
      </li>
    </ul>

    <ul class="list-inline list-tags col-md-4 col-lg-3">
      <li class="list-inline-item" *ngFor="let tag of tags">
        <a href="javascript:;" (click)="toFilter($event, '.badge')" class="badge badge-light">{{ tag }}</a>
      </li>
    </ul>
  </div>
</div>

