<div class="bg-op d-none">
  <div class="container">
    <div class="row">
      <button (click)="closeFormCriaColuna()" id="closeForm" class="btn btn-close-form">X</button>
      <div id="criar-coluna" class="col-xs-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
        <form #cadastrar="ngForm" (ngSubmit) = "criaColuna(cadastrar.value)" class="gerar-nova-col">
          <div class="form-group">
            <label for="titulo">Titulo da coluna</label>
            <input type="text" class="form-control" name="titulo" placeholder="Insira o título" required ngModel>
          </div>

          <fieldset>
            <legend>Dados da primeira task</legend>
            <div class="form-group ">
              <label for="atribuir">Task</label>
              <input type="text" class="form-control" name="task" placeholder="Insira a task" required ngModel>

              <div>Atribuir task</div>
              <div class="form-check form-check-inline">
                <div *ngFor="let person of people">
                  <input class="form-check-input" name="p - {{person}}" type="checkbox" [value]="person" ngModel>
                  <label class="form-check-label" [for]="person">{{ person }}</label>
                </div>
              </div>

              <div>Atribuir tags</div>
              <div class="form-check form-check-inline">
                <div *ngFor="let tag of tags">
                  <input class="form-check-input" name="t - {{tag}}" type="checkbox" [value]="tag" ngModel>
                  <label class="form-check-label" [for]="tag">{{ tag }}</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group">
            <button type="submit" id="criar-col" class="btn btn-success">Criar nova coluna</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
