<div class="secao-colunas">
  <div class="coluna">
    <div class="header">
      <h2 class="titulo-coluna">A Iniciar</h2>
      <div class="menu-section" (click)="toogleSubmenu()">
        <div class="menu"></div>
        <div class="list-group dropdown-submenu">
          <a href="#" class="list-group-item list-group-item-action">Editar</a>
          <a href="#" class="list-group-item list-group-item-action">Remover</a>
        </div>
      </div>
    </div>
    <div class="task">
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus nesciunt, corrupti perspiciatis voluptatum, ipsa eum cum blanditiis ad aspernatur repellat facere praesentium. Saepe accusamus ducimus consequuntur iste optio perferendis eligendi.</p>

      <span class="badge badge-light">tag</span>
      <span class="user"></span>
    </div>
  </div>

  <div class="coluna"></div>

  <div class="coluna"></div>

  <button id="add-coluna" class="add-coluna">
    + COLUNA
  </button>
</div>
